<section class="text-gray-400 body-font bg-gray-900">
    <div style=" overflow: scroll;" [ngStyle]="{'height': '100vh'}" class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white ">Project Credits</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base lg:text-base sm:text-2xl"> The ECPPEC project was funded by the Arts and Humanities Research Council under grant number AH/S01098X/1. We made use of data provided by <a href="http://www.county-borders.co.uk">the Historic County Borders Project.</a>

            </p>

        </div>
        <div style="height:30%"></div>
    </div>
</section>