<div class="overflow-scroll">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-full">

        <ng-container matColumnDef="candidate_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.candidate_name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="election_year">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
        <td mat-cell *matCellDef="let element"> {{element.election_year}} </td>
        </ng-container>
    
        <ng-container matColumnDef="contested">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contested </th>
        <td mat-cell *matCellDef="let element"> {{element.contested}} </td>
        </ng-container>
    
        <ng-container matColumnDef="is_winner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Winner </th>
        <td mat-cell *matCellDef="let element"> {{element.is_winner}} </td>
        </ng-container>

        <ng-container matColumnDef="overturned_by">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Overturned By </th>
            <td mat-cell *matCellDef="let element"> {{element.overturned_by}} </td>
        </ng-container>

        <ng-container matColumnDef="ultimate_winner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ultimate Winner </th>
            <td mat-cell *matCellDef="let element"> {{element.ultimate_winner}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
</div>