<!-- <section class="text-gray-400 bg-gray-900 h-screen body-font relative">
    <div class="absolute inset-0 bg-gray-900">
        <app-map></app-map>
    </div>
    <div class="container px-5 lg:py-5 lg:h-4/5 md:py-24  md:h-1/2 mx-auto flex">
        <div class="lg:w-1/2 md:w-full bg-gray-900 shadow-md rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 ">
            <div class="w-full overflow-scroll rounded-lg">
                <app-table class="rounded-lg">

                </app-table>
            </div>

        </div>
    </div>
</section> -->

<section class="text-gray-400 bg-gray-900 body-font">
    <div class="pr-8 h-screen py-14 mx-auto flex flex-wrap">
        <!-- <h2 class="sm:text-3xl text-2xl text-white font-medium title-font mb-2 md:w-2/5">Kickstarter Actually Pinterest Brunch Bitters Occupy</h2> -->
        <app-map class="sm:text-3xl text-2xl text-white font-medium title-font mb-2 md:w-2/5"></app-map>

        <div class="md:w-3/5 md:pl-6">
            <app-table class="rounded-lg">

            </app-table>
            <!-- <p class="leading-relaxed text-base">Taxidermy bushwick celiac master cleanse microdosing seitan. Fashion axe four dollar toast truffaut, direct trade kombucha brunch williamsburg keffiyeh gastropub tousled squid meh taiyaki drinking vinegar tacos.</p>
            <div class="flex md:mt-4 mt-6">
                <button class="inline-flex text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded">Button</button>
                <a class="text-indigo-400 inline-flex items-center ml-4">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
            </div> -->
        </div>
    </div>
</section>