<section class="text-gray-400 bg-gray-900 h-screen body-font relative">
    <div class="absolute inset-0 bg-gray-900">
        <app-map></app-map>
        <!-- <iframe title="map" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=%C4%B0zmir+(My%20Business%20Name)&ie=UTF8&t=&z=14&iwloc=B&output=embed" style="filter: grayscale(1) contrast(1.2) opacity(0.16);"></iframe> -->
    </div>
    <div class="container px-5 lg:py-5 lg:h-4/5 md:py-24  md:h-1/2 mx-auto flex">
        <div class="lg:w-1/2 md:w-full bg-gray-900 shadow-md rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 ">
            <div class="w-full overflow-scroll rounded-lg">
                <app-table class="rounded-lg">

                </app-table>
            </div>

        </div>
    </div>
</section>