<section class="text-gray-400 bg-gray-900 body-font">

    <div class="container px-5 py-14 mx-auto flex flex-wrap items-top">
        <section class="lg:w-1/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0" style=" overflow: scroll;" [ngStyle]="{'height': '100vh'}" #scrollContent (scroll)="onElementScroll($event)">
            <h1 class="title-font font-medium text-3xl text-white">Contested Elections in the 18th Century </h1>
            <div class="" *ngIf="paras.length==0">
                <br>
                <mat-spinner style="margin:auto 0px"></mat-spinner><br>loading data story...</div>
            <div #div *ngFor="let para of paras; let i = index" class="leading-relaxed mt-4" [style.margin-bottom]="getSpacing(i)">{{para.content}}<br>

                <br *ngIf="para.showReadmore">
                <span *ngIf="para.showReadmore">{{para.readmore}}</span>
                <br *ngIf="para.showReadmore">
                <span *ngIf="para.readmore.length>0" class="readmore" style="cursor: pointer; font-weight: bold; color:rgba(251, 191, 36,1)" (click)="para.showReadmore=!para.showReadmore">[read {{!para.showReadmore ? 'more':'less'}}]</span>
                <br>
                <a *ngIf="para.index<paras.length-1" style="text-align: center;">
                    <mat-icon style="cursor: pointer; font-size: xx-large; font-weight: bold; color:rgba(251, 191, 36,1)" aria-hidden="false" role="text" aria-label="scroll to the next section" (click)="scrollNext(i)">arrow_drop_down_circle</mat-icon>
                </a>
                <a *ngIf="para.index==paras.length-1" style="text-align: center;">
                    <mat-icon style="cursor: pointer; font-size: xx-large; font-weight: bold; color:rgba(251, 191, 36,1)" aria-hidden="false" role="text" aria-label="scroll to the next section" (click)="scrollUp()">arrow_drop_up_circle</mat-icon>
                </a>
            </div>
        </section>
        <section class="lg:w-4/6 md:w-1/2 bg-gray-800 bg-opacity-50 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
            <h2 *ngIf="visIndex!=paras.length-2" style="color: rgba(251, 191, 36,1);" class="text-lg font-medium title-font mb-5">[viz# {{visIndex}}] {{filteredNumElections }} elections of which {{filteredNumContested}} were contested ({{filteredPercentageContested}}%)</h2>

            <app-elections-spark-line role="text" [attr.aria-label]="getAccessibliltyData(visIndex)" *ngIf="visIndex>=0 && visIndex<6" [@inOutAnimation] class="text-xs mt-3"></app-elections-spark-line>
            <app-contested-spark-line role="text" [attr.aria-label]="getAccessibliltyData(visIndex)" *ngIf="visIndex==6 || visIndex==7|| visIndex==8 || visIndex==10 " [@inOutAnimation] class="text-xs mt-3"></app-contested-spark-line>
            <app-contested-scatterplot role="text" [attr.aria-label]="getAccessibliltyData(visIndex)" *ngIf="visIndex==11" [@inOutAnimation] class="text-xs mt-3"></app-contested-scatterplot>

            <app-contested-rose role="text" [attr.aria-label]="getAccessibliltyData(visIndex)" *ngIf="visIndex>=9 && visIndex<10" [@inOutAnimation] class="text-xs mt-3"></app-contested-rose>

            <img src="./assets/images/1987P19 Canvassing For Votes.jpg" alt="an election scene outside a pub. A man with a large beer pot sits at a table with a pen while other carouse" *ngIf="visIndex>=12" class="mx-auto w-2/3 rounded-lg text-3xl demo-chart bg-gray-100  "
            />
            <span *ngIf="paras.length>0">
            <span *ngIf="paras[visIndex].showControls">
                <mat-form-field style="margin-right: 5%;" *ngIf="paras[visIndex].widgets.indexOf('year')!=-1">
                    Try entering a year range like this 1695-1800<br>
                    <input style="background-color: white; padding:10px;border-radius: 10px;margin-top: 20px;" matInput class="form-field" [formControl]="datasourceService.yearFilter" placeholder="...">
                </mat-form-field>
                <mat-form-field style="margin-right: 5%;" *ngIf="paras[visIndex].widgets.indexOf('constituency')!=-1">
                    Search for a particular constituency such as York<br>
                    <input style="background-color: white; padding:10px;border-radius: 10px;margin-top: 20px;" matInput class="form-field" [formControl]="datasourceService.constituencyFilter" placeholder="...">
                </mat-form-field>

                <mat-form-field *ngIf="paras[visIndex].widgets.indexOf('general')!=-1">
                   filter for different kinds of election
                    <mat-select style="background-color: white; padding:10px;border-radius: 10px;margin-top: 20px;" [formControl]="datasourceService.byElectionGeneralFilter" [(value)]="datasourceService.byElectionGeneralFilter.value">
                        <mat-option value="">Any</mat-option>
                        <mat-option value="B">By Election</mat-option>
                        <mat-option value="G">General Election</mat-option>
                    </mat-select>

                </mat-form-field>

                <mat-form-field *ngIf="paras[visIndex].widgets.indexOf('franchise')!=-1">
                    filter for different kinds of franchise
                    <mat-select style="background-color: white; padding:10px;border-radius: 10px;margin-top: 20px;" [formControl]="datasourceService.franchiseFilter" [(value)]="datasourceService.franchiseFilter.value">
                        <mat-option value="">Any</mat-option>
                        <mat-option value="Freeman">Freeman</mat-option>
                        <mat-option value="Freeholder">Freeholder</mat-option>
                        <mat-option value="Burgage">Burgage</mat-option>
                        <mat-option value="Scot and Lot">Scot and Lot</mat-option>
                        <mat-option value="Corporation">Corporation</mat-option>
                        <mat-option value="Householder">Householder</mat-option>
                    </mat-select>

                </mat-form-field>
                
                </span></span>
        </section>
    </div>
</section>