<header class="text-gray-400 bg-gray-900 body-font ">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-yellow-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
            <span class="ml-3 text-xl lg:text-xl md:text-3xl">ECPPEC</span>
        </a>
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center lg:text-xl md:text-3xl">
            <a routerLink="/map" class="mr-5 hover:text-white">Map</a>
            <a routerLink="/about" class="mr-5 hover:text-white">About</a>
            <a routerLink="/api" class="mr-5 hover:text-white">Data</a>
            <a routerLink="/team" class="mr-5 hover:text-white">Team</a>
        </nav>
        <!-- <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Button
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button> -->
    </div>
</header>
<router-outlet style="position: relative;"></router-outlet>

<footer style="z-index: 4000; position: fixed; bottom: 0px;">
    <div class="flex items-center justify-between p-6 container mx-auto">
        <img style="width:200px;  margin-right: 2%;" src="./assets/images/logos/newcastle.png" alt="newcastle university logo" />
        <img style="width:200px;  margin-right: 2%;" src="./assets/images/logos/liverpool.png" alt="liverpool university logo" />
        <img style="width:200px;  margin-right: 2%;" src="./assets/images/logos/ahrc.png" alt="arts and humanities research council logo" />
    </div>
</footer>

<!-- </div> -->