<mat-dialog-content>
    <div *ngIf="!ready">
        loading elections data...
    </div>
    <div *ngIf="ready">
        <div id="dialogue_form_info">
            Use this box to search the database of elections. You can add more than one filter at a time, for instance by entering a constituency and a year. You'll see the search results both in the table and on the map.

            <br><br>If you're not sure what to look for, try a <span style="color:#673ab7 !important; cursor:pointer" (click)="closeWithRandomSearch()">random search </span> to explore the data.

        </div>


        <mat-form-field (keydown)="keyDownFunction($event)" class="dialogue_form">
            <mat-label>Constituency</mat-label>
            <input (click)="consituencyFieldClicked()" type="text" placeholder="...." aria-label="Constituency" matInput [formControl]="constituencyFilter" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredConstituencyOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
            <mat-hint align="end">Press enter to add more than one</mat-hint>
        </mat-form-field>

        <mat-form-field class="dialogue_form" appearance="fill">
            <mat-label>County/Borough/Univ</mat-label>
            <mat-select [formControl]="countyFilter" [value]="countyFilter.value">
                <mat-option value="">Any</mat-option>
                <mat-option value="C">County</mat-option>
                <mat-option value="B">Borough</mat-option>
                <mat-option value="U">University</mat-option>
            </mat-select>
        </mat-form-field>


        <span class="input_list" style="margin:5px;background-color: lightGrey; border-radius: 3px; padding-left:5px;padding-right:5px; padding-top:3px;padding-bottom:3px" *ngFor="let constituency of getConstituencies()">{{constituency}} <span (click)="constituencyClick(constituency)" style="color:white; cursor:pointer">x</span></span><br>


        <p style="font-family: Catamaran">Use a single year, a list of years or a range:
            <mat-button-toggle-group value="single" (selectionChange)="yearButtonChange($event)" name="fontStyle" aria-label="Font Style">
                <mat-button-toggle (click)="yearButtonChange('single')" value="single">Single</mat-button-toggle>
                <mat-button-toggle (click)="yearButtonChange('list')" value="list">List</mat-button-toggle>
                <mat-button-toggle (click)="yearButtonChange('range')" value="range">Range</mat-button-toggle>

            </mat-button-toggle-group>
        </p>


        <mat-form-field (keydown)="yearKeyDownFunction($event)" class="dialogue_form" appearance="fill">
            <mat-label>Year</mat-label>
            <input (keypress)="numberOnly($event)" maxlength="4" matInput class="form-field" [formControl]="yearFilter" placeholder="....">
            <mat-hint [hidden]="yearChooser!='list'" align="end">Press enter to add more than one</mat-hint>

        </mat-form-field>
        <mat-form-field class="dialogue_form" appearance="fill">
            <mat-label>Month</mat-label>
            <mat-select (selectionChange)="monthChange($event)" [formControl]="monthFilter" [value]="monthFilter.value">
                <mat-option value="Jan">January</mat-option>
                <mat-option value="Feb">February</mat-option>
                <mat-option value="Mar">March</mat-option>
                <mat-option value="Apr">April</mat-option>
                <mat-option value="May">May</mat-option>
                <mat-option value="Jun">June</mat-option>
                <mat-option value="Jul">July</mat-option>
                <mat-option value="Aug">August</mat-option>
                <mat-option value="Sep">September</mat-option>
                <mat-option value="Oct">October</mat-option>
                <mat-option value="Nov">November</mat-option>
                <mat-option value="Dec">December</mat-option>
            </mat-select>


            <mat-hint align="end">You can add more than one</mat-hint>
        </mat-form-field>

        <span class="input_list" style="margin:5px;background-color: lightGrey; border-radius: 3px; padding-left:5px;padding-right:5px; padding-top:3px;padding-bottom:3px" *ngFor="let year of yearList">{{year}} <span (click)="yearClick(year)" style="color:white; cursor:pointer">x</span></span>

        <span class="input_list" style="margin:5px;background-color: lightGrey; border-radius: 3px; padding-left:5px;padding-right:5px; padding-top:3px;padding-bottom:3px" *ngFor="let month of monthList">{{month}} <span (click)="monthClick(month)" style="color:white; cursor:pointer">x</span></span><br>


        <mat-form-field class="dialogue_form" appearance="fill">
            <mat-label>From Year</mat-label>
            <input (keypress)="numberOnly($event)" maxlength="4" matInput class="form-field" [formControl]="yearFromFilter" placeholder="....">

        </mat-form-field>

        <mat-form-field class="dialogue_form" appearance="fill">
            <mat-label>To Year</mat-label>
            <input (keypress)="numberOnly($event)" maxlength="4" matInput class="form-field" [formControl]="yearToFilter" placeholder="....">

        </mat-form-field><br>



        <mat-form-field class="dialogue_form" appearance="fill">
            <mat-label>Contested?</mat-label>
            <mat-select [formControl]="contestedFilter" [value]="contestedFilter.value">
                <mat-option value="">Any</mat-option>
                <mat-option value="Y">Yes</mat-option>
                <mat-option value="N">No</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="dialogue_form" appearance="fill">
            <mat-label>By/General Election </mat-label>
            <mat-select [formControl]="byElectionGeneralFilter" [value]="byElectionGeneralFilter.value">
                <mat-option value="">Any</mat-option>
                <mat-option value="B">By Election</mat-option>
                <mat-option value="G">General Election</mat-option>
            </mat-select>

        </mat-form-field>

        <mat-form-field class="dialogue_form" appearance="fill">
            <mat-label>Has Poll Books? </mat-label>
            <mat-select [formControl]="pollBookCodeFilter" [value]="pollBookCodeFilter.value">
                <mat-option value="">Any</mat-option>
                <mat-option value="Y">Yes</mat-option>
                <mat-option value="N">No</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button matDialogClose style="margin-right: 1%;" class="mat-raised-button" (click)="close()">Dismiss</button>
    <button matDialogClose class="mat-raised-button mat-primary" (click)="save()">Search the database</button>
</mat-dialog-actions>